.photo-container {
    margin: 2rem auto;
    width: 150px;
    height: 150px;
    background-image: url('../assets/images/myPhoto.jpeg'); /* Ajusta esta ruta */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    border-radius: 50%; /* Hace el contenedor circular */
    border: 2px solid #9dc0dc; /* Opcional, para añadir un borde */
    overflow: hidden;
}